# .github/workflows/publish-to-pypi.yml
name: Build and publish Python distributions to PyPI

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Build for Windows, Linux, and Mac
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.12.0


      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  publish_to_pypi:
    name: Publish Python distribution to PyPI
    needs: build_wheels
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/MatthewSort
    permissions:
      id-token: write

    steps:
      - name: Download all the wheels
        uses: actions/download-artifact@v3
        with:
          name: artifact
          path: dist

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1