# .github/workflows/publish-to-pypi.yml
name: Build and publish Python distributions to PyPI

on:
  release:
    types: [published]

jobs:
  build_wheels:
    name: Build wheels for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.17.0 # Changed from v2.12.0
        env:
          # Skip 32-bit builds on Windows and ALL PyPy builds.
          CIBW_SKIP: "*-win32 pp*"

      - uses: actions/upload-artifact@v4
        with:
          path: ./wheelhouse/*.whl

  publish_to_pypi:
    name: Publish Python distribution to PyPI
    needs: build_wheels
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/matthewsort
    permissions:
      id-token: write

    steps:
      - name: Download all the wheels
        uses: actions/download-artifact@v4
        with:
          name: artifact
          path: dist
      
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1